[aws]
aws_region_name = us-west-2
aws_access_key_id = enter_your_key_id
aws_secret_access_key = enter_your_access_key

[cluster default]
vpc_settings = public
key_name = ec2_rsa
scheduler = sge
initial_queue_size = 1
# this is the BCE AMI compatible with CFN (built on top of ami-f2bf5492)
custom_ami = ami-e6f50986
base_os = ubuntu1404
# need at least 15 Gb as that is the size of the BCE AMI snapshot
master_root_volume_size = 15 
compute_root_volume_size = 15


[vpc public]
# enter info based on your AWS account
master_subnet_id = subnet-XXXXXXXX
vpc_id = vpc-XXXXXXXX


[global]
update_check = true
sanity_check = true
cluster_template = default