[aws]
aws_region_name = us-west-2
aws_access_key_id = enter_your_key_id
aws_secret_access_key = enter_your_access_key

[cluster default]
vpc_settings = public
key_name = ec2_rsa
scheduler = slurm
initial_queue_size = 2
master_instance_type = t2.medium
compute_instance_type = t2.medium
# this is the BCE AMI compatible with CFN (built on top of ami-870edfe7)
custom_ami = ami-1ccf667c
base_os = ubuntu1604
# need at least 15 Gb as that is the size of the BCE AMI snapshot
master_root_volume_size = 15 
compute_root_volume_size = 15
template_url = http://cfncluster-public-scripts.s3.amazonaws.com/cfncluster-131fix-cfn.json

[vpc public]
# enter info based on your AWS account
master_subnet_id = subnet-XXXXXXXX
vpc_id = vpc-XXXXXXXX


[global]
update_check = true
sanity_check = true
cluster_template = default