[Desktop Entry]
Version=1.0
Type=Application
Exec=xfce4-session-logout
Icon=system-shutdown
StartupNotify=true
Terminal=false
Categories=Utility;X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Shut Down
